
//selected notes
$root: #ffc94d;
$rootHover: #ffe38e;

$chords: #00b7ff;
$chordsHover: #79d9ff;
$chordsLight: #d0f2ff;

$scales:#ff5252 ;
$scalesHover:#ff8585 ;
$scalesLight:#ffdede ;

//blank fretboard
$fretboard: #818181;
$fretboardHover: #9b9b9b;

//bg and transparent text
$bg:rgb(51, 51, 51);
$lightText: lightGray;
$darkText: white;
