///////////////////////////////////////////////////////////////
// basic color scheme
//////////////////////////////////////////////////////////////

//root colors
$root: #ffb300;
$rootHover: #ffe38e;
$rootLight: #fff5d7;

//chord colors
$chords: #2238ff;
$chordsHover: #8a7dff;
$chordsLight: #aaa2ff;

// $cFifth: #7700ff;
// $cFifthHover: #b96eff;
$cFifth: #000d84;
$cFifthHover: #8a7dff;

// $cThird: #7700ff;
// $cThirdHover: #b96eff;

//scale colors
$scales:#ff0000 ;
$scalesHover:#ff8585 ;
$scalesLight:#ffb0b0 ;

// $sFifth: #ff5c1c;
$sFifth: #7d2300;
$sFifthHover: #ffa470;
// $sFifthHover: #ce3a00;

// $sThird: #ff5c1c;
// $sThirdHover: #ffa470;

// $sFifth: #d400ff;
// $sFifthHover: #ff5286;

// $sThird: #d400ff;
// $sThirdHover: #ff5286;

//blank fretboard
$fretboard: #aaaaaa;
$fretboardHover: #bebebe;

//bg and transparent text
$bg:white;

$lightText: lightGray;
$darkText: black;
