
//selected notes
$root: #a5ca00;
$rootHover: #5eff00;

$chords: #8400ff;
$chordsHover: #7a00dd;
$chordsLight: #dedbff;

$scales:#ff6600 ;
$scalesHover:#ff88008a ;
$scalesLight:#ffdede ;

//blank fretboard
$fretboard: #d8834b;
$fretboardHover: #884800;
