@import '../../colorSchemes/index';

// @media screen and (min-width: 760px){
.displayColumn{
    background-color:$bg;
    border-radius:5px;
    width:334px !important;
    padding-top:2px !important;
    padding-bottom:10px !important;
    filter: drop-shadow(1px 1px 2px $fretboard) !important;

}


.noRootMessage{
    margin-bottom:-1px;
}


