@import 'noteButton';
@import 'groupList';
@import './colorSchemes/index.scss';
@import './modeSwitching/index.scss';

.App {
  text-align: center;
  background-color: $bg;
}

.modal{
  position: relative;
}

@media screen and (min-width: 500px){
  .showModal{
    position: absolute;
    display:block;
    background-color:white;
    z-index:5;
    opacity: 0.9;
    height:600px;
    width:500px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left:100px;
  }
}

@media screen and (max-width: 499px){
  .showModal{
    font-size:smaller;
    position: absolute;
    display:block;
    background-color:white;
    z-index:5;
    opacity: 0.9;
    height:640px;
    width:300px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
}


.hideModal{
  display:none;
}
.outline {
  height: 30px;
  border: 1px solid $darkText;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $bg;
}

.helpBtn{
  color:$fretboardHover;
  font-size:30px;
  padding-left:10px;
  // display:block;
  // float:left;
}
.helpBtn:hover{
  color: #6dc2ff;
  font-weight:bold;
  padding-left:10px;
  cursor: pointer;
  // display:block;
  // float:left;
}
.helpBtn:active{
  color:#bae2ff;
}

.App-link {
  // color: #61dafb;
}

.fBoardContainer{
  padding-bottom:10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
